{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор этого проекта</h1>
  <p>
    <p>Меня зовут Кремнёв Андрей, и я начинающий бэкендер :)<p>
    Когда достигну каких-нибудь значимых (для себя) результатов 
    - обязательно дополню эту страничку. Пока что мне немножечко 
    лень этим заниматься, но ИНОГДА можно себе такое позволить. 
    А пока могу лишь сказать, что вдохновляет на будущие 
    свершения наша змея Ева, и она, как это ни странно - 
    ПИТОН. Настоящий ковровый питон, целых 3 года от роду. 
    Правда. Давайте договоримся: доползу до половины 
    курса Python-разработчик от Яндекс.Практикума - 
    обязательно прикреплю фото, хорошо?
  </p>
  <p>
  Мои контакты:<br>
  <a href="https://github.com/andreipy">
    GitHub
  </a><br>
  <a href="https://www.instagram.com/lil_creamy_cloud">
    Instagram
  </a>
{% endblock %} 